.logo{
    width: 12%;
    height: 12%;
    display: block;
    margin: auto;
}
.profile_pic{
    width: 20%;
    height: 20%;
    float: left;
    clear: both;
    padding: 3px;
    border-radius: 40px;
}
.name{
    display: block;
    float: left;
}

body{
    background-image: linear-gradient(rgb(39, 98, 206),rgb(236, 97, 62));
    height: 100vh;
}
.container
{
   max-width: 55%;
   background-color: rgba(252, 252, 252,0.3) ;
   height: 76vh;
   margin: auto;
   border-radius: 4px;
   overflow-y: auto;
   margin-bottom: 10px;
   
}
.right{
    float: right;
    clear: both;
}
.left{
    float: left;
    clear: both;
}
.message{
    background-color: rgba(146, 183, 252,0.5);
    width: 24%;
    padding: 10px;
    margin: 9px;
    border: 2px solid;
    border-radius: 4px;
    color: rgba(255, 255, 255,0.88);
    border-color: rgba(233, 233, 233,0.5) ;
}




.send{
    text-align: center;
    width: auto;
}
#scontainer{
   
   
    align-items: center;
}
#messageInp{
    width: 52%;
    height: 30px;
    background-color: rgba(247, 247, 247,0.1);
    border-color: rgba(146, 183, 252);
    color: aliceblue;
}
.button{
    height: 32px;
    width: 45px;
    cursor: pointer;
    background-color:rgba(146, 183, 252,0.7); 
    border-color: rgb(146, 183, 252);
    color: beige;

}