.logo{
    width: 12%;
    height: 12%;
    display: block;
    margin: auto;
}
.profile_pic{
    width: 20%;
    height: 20%;
    float: left;
    clear: both;
    padding: 3px;
    border-radius: 40px;
}

body{
    background-image: linear-gradient(rgb(39, 98, 206),rgb(236, 97, 62));
    height: 100vh;
}
.container
{
   max-width: 999px;
   background-color: white;
   height: 76vh;
margin: auto;
border-radius: 2px;
}
.right{
    float: right;
    clear: both;
}
.left{
    float: left;
    clear: both;
}
.message{
    background-color: rgb(146, 183, 252);
    width: 24%;
    padding: 6px;
    margin: 9px;
    border: 2px solid;
    border-radius: 2px;
}
